@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=GFS+Didot&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');



$navColor:#000000;
$WhiteColor:#ffffff;

.stickyContainer{
    position: relative;
    height: 100dvh;
    width: 100%;
    // overflow: hidden;
    .textBox{
        position: sticky;
        height: 420dvh;
        width: 100%;
        // overflow: hidden;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        .aboutH2{
            font-family: 'Noto Serif TC', serif;
            font-weight: 500;
            letter-spacing: 10dvw;
            width: 100%;
            height: 100dvh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 200px;
            position: sticky;
            top:0px;
            // background-color: aqua;
            margin: 0;
            padding: 0;
            z-index: -1;
            overflow: hidden;
            transform: scale(clamp(0,var(--scale),1));
            // transform-origin: 0% 0%;
            padding-left: 5dvw;
        }
        .scaleText{
            position: sticky;
            height: 150dvh;
            width: 100%;
            display: flex;
            justify-content: center;
            // background-color: rgba(175, 253, 253, 0.16);
            align-items: center;
            // position: relative;
            margin: 0;
            top: 0px;
            font-family: 'Noto Sans TC', serif;
            overflow: hidden;
            z-index: 10;
            .scaleTextContent{
                position: absolute;
                left: 0;
                background-color: rgb(255, 255, 255);
                height: 150dvh;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2dvw;
                z-index: 10;
                .scaleTextContentBox{
                    width: 15dvw;
                    position: absolute;
                    // bottom: 5dvh;


                    transform: translateX(-100vw);
                    transition: 0.8s ease-in-out;
                    opacity: 0;
                    p{
                   
                        padding-bottom: 50dvh;
                        font-size: 0.9rem;
                        width: 100%;
                        // letter-spacing: 2px;
                        line-height: 1.6rem;


                    }
                }

 
            }
            .scaleTextImg{
                position: absolute;
                right: 0;
                background-color: rgb(221, 215, 250);
                height: 150dvh;
                width: 80%;
                display: flex;
                z-index: 1;
                // justify-content: center;
                // align-items: center;
                
                overflow: hidden;

                transform: translateX(100vw);
                transition: 1s ease-in-out;
                opacity: 0;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }

        }
        // .blackWall{
        //     position: sticky;
        //     height: 50dvh;
        //     width: 100%;
        //     display: flex;
        //     justify-content: center;
        //     background-color: rgb(0, 0, 0);
        //     align-items: center;
        //     // position: relative;
        //     margin: 0;
        //     top: 0px;
        //     z-index: 10;
        // }
        .workContianer{
            position: sticky;
            width: 100%;
            height: 160dvh;
            background-color: #000000;
            z-index: 10;
            .worksH2{
                font-family: 'Noto Serif TC', serif;
                font-weight: 500;
                width: 100%;
                height: 100dvh;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 200px;
                position: sticky;
                top:0px;
                background-color: rgb(0, 0, 0);
                margin: 0;
                padding: 0;
                z-index: 10;
                overflow: hidden;
                // padding-bottom: 50dvh;
                transform: scale(clamp(0,var(--scale)*1.1,1));
                color: aliceblue;
                letter-spacing: 10dvw;
                padding-left: 5dvw;
                // transform-origin: 0% 0%;
        }
        }


        

    }        
    .scaleText2{
        position: sticky;
        height: 150dvh;
        width: 100%;
        display: flex;
        // justify-content: center;
        background-color: rgb(0, 0, 0);
        // align-items: center;
        // position: relative;
        margin: 0;
        // top: 0px;
        color: $WhiteColor;
        font-family: 'Noto Sans TC', serif;
        z-index: 10;
    
        .scaleTextContentBox{
            height: 150dvh;
            width: 20%;
            background-color: #000000;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items:end;
            p{  
                position: absolute;
                font-size: 0.9rem;
                width: 15dvw;
                height: 100dvh;
                line-height: 1.6rem;
                transform: translateX(-100vw);
                transition: 1s ease-in-out;
                opacity: 0;
                padding: 2dvw;
                bottom:-5dvh;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;
                margin: 0;
                padding-bottom: 0;
            }
        }   

        .scale2TextImg{
            position: absolute;
            right: 0;
            // background-color: rgb(221, 215, 250);
            // height: 150dvh;
            width: 80%;
            height: 150dvh;
            display: flex;
            z-index: 1;
            justify-content: center;
            align-items: center;
            
            overflow: hidden;

            transform: translateX(100vw);
            transition: 1s ease-in-out;
            opacity: 0;
            img{
                // position: absolute;
                // right: 0;
                height: 150dvh;
                object-fit: cover;
                
            }
            video{
                height: 150dvh;
                object-fit: cover;
                position:absolute;
                right: 0;
                transform-origin: right;
                transform:  scale(90%);
                
            }
        }
}
    // .textBox2{
    //     position: sticky;
    //     height: 250dvh;
    //     width: 100%;
    //     background-color: beige;
    // }
}
.pinned {
    // color: red; 
}
.worksTextAnimate {
   
    transform: translateX(0vw)!important;
    opacity: 1!important;
}

.worksImgAnimate {
   
    transform: translateX(0vw)!important;
    opacity: 1!important;
}
footer{
        // background-color: rgb(204, 204, 204);
    
    top: 450dvh;
    font-family: 'Nanum Myeongjo', serif;
    width: 100%;
    height: 30dvh;
    position:relative;//
    z-index: 100;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    .logo{
        position: relative;
        padding-left:3dvw ;
        top: 10dvh;
        font-size: 80px;
        letter-spacing: 1.8rem;
        color: $WhiteColor;
    }
    .navBox{
        position: relative;
        width: 100%;
        // background-color: antiquewhite;
        display: flex;
        top: 10dvh;
        align-items: center;
        margin: 0;
        padding: 0;

        ul{
            margin: 0;
            padding: 0;
            gap: 20px;
        li{
            
            a{
                color: $WhiteColor;
                text-decoration: none;
                font-weight: 100;
                font-size:16px;
                letter-spacing: 0.2rem;
                
                transition:  0.5s ease-in-out;
                
                &:hover{
                    color: rgb(84, 84, 84);
                    
                    transition:0.5s ease-in-out;
                
                }
            }
            transform: translateY(0px);
            transition:0.5s ease-in-out;
            &:hover{
                
                transform: translateY(10px);
                transition:0.5s ease-in-out;
            
            }
        }
        }
        .mainNav{
            width: 70dvw;
            display: flex;
            align-items: center;
            justify-content: start;

            list-style: none;

            padding-left:3dvw ;

        }
        .socialNav{
            width: 30dvw;
            display: flex;
            justify-content: end;
            align-items: center;

            list-style: none;

            padding-right:3dvw ;

        }
    }
}
@media screen and (min-width:576px) and (max-width:900px){
    .stickyContainer{
        .textBox{

            .aboutH2{
                font-size: 150px;
            }
            .scaleText{
                .scaleTextContent{
                    width: 30%;
                    .scaleTextContentBox{
                        width: 20dvw;
                        p{
                            width: 100%;
                            font-size: 0.7rem;
                            line-height: 1.1rem;
                        }
                    }
                }
                .scaleTextImg{
                    width: 70%;
                    img{

                    }
                }

            }
            .workContianer{
                .worksH2{
                    font-size: 150px;
                }
            }
        }
        .scaleText2{
            
            .scaleTextContentBox{
                width: 35%;
                          
                display: flex;
                justify-content: center;
                p{
                    bottom: -10%;
                    width:25dvw;
                    font-size: 0.7rem;
                    height: 100dvh;
                }
            }
            .scale2TextImg{
                width: 65%;
            }
                

          

        }
        .footer{
            
        }

    }
    
}
@media screen and (max-width:576px){

    .stickyContainer{
        .textBox{

            .aboutH2{
                font-size: 100px;
            }
            .scaleText{
                display: flex;
                flex-direction: column;
                top: -90dvh;
                .scaleTextContent{
                    height: 50%;
                    width: 100%;
                    background-color: rgba(145, 71, 71, 0);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .scaleTextContentBox{
                        width: 80dvw;
                        p{
                            width: 100%;
                            font-size: 0.7rem;
                            line-height: 1.1rem;
                        }
                    }
                }
                .scaleTextImg{
                    height: 50%;
                    width: 100%;
                    top: 80dvh;
                    img{

                    }
                }

            }
            .workContianer{
                .worksH2{
                    font-size: 100px;
                }
            }
        }
        .scaleText2{
            display: flex;
            flex-direction: column;
            height: 150dvh;
            .scaleTextContentBox{
                width: 100%;
                height: 75dvh;
                display: flex;
                justify-content: center;     
                align-items: center;
                // background-color: #b12c2c;

                p{
                    width:50dvw;
                    
                    font-size: 0.7rem;
                    

                    // align-items: center;
                    transform: translateX(0vw);
                    transition: 1s ease-in-out;
                    opacity: 1;
                }
            }
            .scale2TextImg{
                width: 100%;
                height: 75dvh;
                bottom: 0;
                img{
                    // position: absolute;
                    // right: 0;
                    height: 75dvh;
                    object-fit: cover;
                }
                video{
                    transform:  scale(40%);
                    bottom: -45%;
                }
            }
                

          

        }
    }
 
        
    footer{
        top: 450dvh;
        .logo{
            font-size: 40px;
            letter-spacing: 1rem;
            top: 65%;
        }
        .navBox{
            top: 65%;
            ul{
                gap: 10px;
                li{
                    a{
                        font-size:10px;
                        letter-spacing: 0.1rem;
                    }
                }
            }
        }
    }
 

}