@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=GFS+Didot&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');



$navColor:#000000;


main{
    width: 100%;

    padding: 0;
    margin: 0;
    .container1{
        position: relative;
        width: 100%;
        height: 100dvh;
        overflow: hidden;
        background-color: #ffffff;
        nav{
            // background-color: rgb(204, 204, 204);
            font-family: 'Nanum Myeongjo', serif;
            width: 100%;
            height: 100dvh;
            position:absolute;//
            z-index: 100;
            overflow: hidden;
            padding: 0;
            margin: 0;
            .logo{
                position: relative;
                padding-left:3dvw ;
                top: 82dvh;
                font-size: 80px;
                letter-spacing: 1.8rem;
                color: $navColor;
            }
            .navBox{
                position: relative;
                width: 100%;
                // background-color: antiquewhite;
                display: flex;
                top: 95dvh;
                align-items: center;
                margin: 0;
                padding: 0;
                bottom: 0dvh;
                ul{
                    margin: 0;
                    padding: 0;
                    gap: 20px;
                    li{
                        
                        a{
                            color: $navColor;
                            text-decoration: none;
                            font-weight: 100;
                            font-size:20px;
                            letter-spacing: 0.2rem;
                            
                            transition:  0.5s ease-in-out;
                            
                            &:hover{
                                color: rgb(84, 84, 84);
                                
                                transition:0.5s ease-in-out;
                               
                            }
                        }
                        transform: translateY(0px);
                        transition:0.5s ease-in-out;
                        &:hover{
                            
                            transform: translateY(10px);
                            transition:0.5s ease-in-out;
                           
                        }
                    }
                }
                .mainNav{
                    width: 70dvw;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    
                    list-style: none;
        
                    padding-left:3dvw ;
                    
                }
                .socialNav{
                    width: 30dvw;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                   
                    list-style: none;
        
                    padding-right:3dvw ;
                    
                }
            }
        }
        .imagesBox{
            position: absolute;
            width: 100%;
            height: 100dvh;
            overflow: hidden;
            z-index: 20;//
            .imagesBoxWrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                width: inherit;
                height: inherit;
                .imagesBoxGallery{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    perspective: 1000px;
                    .imagesBoxGalleryFrame{
                        position: absolute;
                        overflow: hidden;
                        width: auto;
                        // height: auto;
                        z-index: 10;

                        margin: 0;
                        padding: 0;

                        &:nth-of-type(1){
                            
                           
                            top: 10%;
                            left: 40%;
                            
                            // width: auto;
                            // height: auto;
                            .imagesBoxGalleryFrameFigure{
                                position: relative;
                                
                                width: auto;
                                height: auto;
                                margin: 0;
                                padding: 0;
                                .imagesBoxGalleryFrameFigureImg{
                                    width: 100%;
                                    height: 35vh;
                                    
                                }
                            }

                        }
                        &:nth-of-type(2){
                            top: 50%;
                            left: 20%;
                            .imagesBoxGalleryFrameFigure{
                                position: relative;
                                width: auto;
                                height: auto;
                                margin: 0;
                                padding: 0;
                                .imagesBoxGalleryFrameFigureImg{
                                    width: 100%;
                                    height: 40vh;
                                    
                                }
                            }

                        }
                        &:nth-of-type(3){
                            top: 60%;
                            right: 10%;
                            .imagesBoxGalleryFrameFigure{
                                position: relative;
                                width: auto;
                                height: auto;
                                margin: 0;
                                padding: 0;
                                .imagesBoxGalleryFrameFigureImg{
                                    width: 100%;
                                    height: 30vh;
                                    
                                }
                            }

                        }
                        &:nth-of-type(4){
                            top: 5%;
                            left: 5%;
                            .imagesBoxGalleryFrameFigure{
                                position: relative;
                                width: auto;
                                height: auto;
                                margin: 0;
                                padding: 0;
                                .imagesBoxGalleryFrameFigureImg{
                                    width: 100%;
                                    height: 30vh;
                                    
                                }
                            }

                        }
                        &:nth-of-type(5){
                            top: 5%;
                            right:5%;
                            .imagesBoxGalleryFrameFigure{
                                position: relative;
                                width:  100%;
                                height:  100%;
                                margin: 0;
                                padding: 0;
                                .imagesBoxGalleryFrameFigureImg{
                                    width: 100%;
                                    height: 40vh;
                                    
                                }
                            }

                        }
                    }
                }
            }
        }

        .imagesTittle{
            position: absolute;
            text-align: center;
            color: #000000;
            bottom: 0;

            z-index: 20;
            mix-blend-mode: difference;
            overflow: hidden;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            p{
                position: relative;
                font-size: 15rem;
                margin: 0;
                padding-left:3rem;
                color: #ffffff;
            }
        }
        
    }


}
@media screen and (min-width:769px) and (max-width:1024px){

    main{
        
        .container1{

            nav{
                
                .navBox{
                    top: 97dvh;
                    // bottom:-2dvh;
                    ul{
                        li{
                            a{
                                font-size:23px;
                                letter-spacing: 0.1rem;
                            }
                        }
                    }
                }
            }
            .imagesBox{
                .imagesBoxWrapper{
                   
                    .imagesBoxGallery{
                       
                        .imagesBoxGalleryFrame{
                           
    
                            &:nth-of-type(1){
                                
                               
                                top: 5%;
                                left: 65%;
                                
                                // width: auto;
                                // height: auto;
                                .imagesBoxGalleryFrameFigure{

                                    width: auto;
                                    height: auto;

                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height:25vh;
                                        
                                    }
                                }
    
                            }
                            &:nth-of-type(2){
                                top: 74%;
                                left: 5%;
                                .imagesBoxGalleryFrameFigure{
                                 
                                    width: auto;
                                    height: auto;
                        
                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height: 20vh;
                                        
                                    }
                                }
    
                            }
                            &:nth-of-type(3){
                                top: 70%;
                                right: 5%;
                                .imagesBoxGalleryFrameFigure{
                                 
                                    width: auto;
                                    height: auto;
                            
                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height: 15vh;
                                        
                                    }
                                }
    
                            }
                            &:nth-of-type(4){
                                top: 7%;
                                left: 5%;
                                .imagesBoxGalleryFrameFigure{
                            
                                    width: auto;
                                    height: auto;
                    
                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height: 20vh;
                                        
                                    }
                                }
    
                            }
                            &:nth-of-type(5){
                                top: 32%;
                                right: 12%;
                                .imagesBoxGalleryFrameFigure{
                               
                                    width:  100%;
                                    height:  100%;
                     
                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height: 35vh;
                                        
                                    }
                                }
    
                            }
                        }
                    }
                }
            }
            .imagesTittle{
                bottom: 2dvh;
                p{
                    font-size: 10rem;
                    padding-left:1rem;
                }
            }
        }
    }
}
@media screen and (min-width:576px) and (max-width:768px){

    main{
        
        .container1{

            nav{
                .navBox{
                    bottom:-2dvh;
                    ul{
                        li{
                            a{
                                font-size:20px;
                                letter-spacing: 0.1rem;
                            }
                        }
                    }
                }
            }
            .imagesBox{
                .imagesBoxWrapper{
                   
                    .imagesBoxGallery{
                       
                        .imagesBoxGalleryFrame{
                           
    
                            &:nth-of-type(1){
                                
                               
                                top: 5%;
                                left: 60%;
                                
                                // width: auto;
                                // height: auto;
                                .imagesBoxGalleryFrameFigure{

                                    width: auto;
                                    height: auto;

                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height:25vh;
                                        
                                    }
                                }
    
                            }
                            &:nth-of-type(2){
                                top: 75%;
                                left: 5%;
                                .imagesBoxGalleryFrameFigure{
                                 
                                    width: auto;
                                    height: auto;
                        
                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height: 20vh;
                                        
                                    }
                                }
    
                            }
                            &:nth-of-type(3){
                                top: 70%;
                                right: 10%;
                                .imagesBoxGalleryFrameFigure{
                                 
                                    width: auto;
                                    height: auto;
                            
                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height: 15vh;
                                        
                                    }
                                }
    
                            }
                            &:nth-of-type(4){
                                top: 5%;
                                left: 5%;
                                .imagesBoxGalleryFrameFigure{
                            
                                    width: auto;
                                    height: auto;
                    
                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height: 20vh;
                                        
                                    }
                                }
    
                            }
                            &:nth-of-type(5){
                                top: 32%;
                                right: 12%;
                                .imagesBoxGalleryFrameFigure{
                               
                                    width:  100%;
                                    height:  100%;
                     
                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height: 30vh;
                                        
                                    }
                                }
    
                            }
                        }
                    }
                }
            }
            .imagesTittle{
                bottom: 2dvh;
                p{
                    font-size: 10rem;
                    padding-left:1rem;
                }
            }
        }
 
    }
}
@media screen and (max-width:576px){

    main{
        
        .container1{
            nav{
                .navBox{
                    bottom: -2dvh;
                    ul{
                        gap: 10px;
                        li{
                            a{
                                font-size:12px;
                                letter-spacing: 0.1rem;
                            }
                        }
                    }
                }
            }
            .imagesBox{
                .imagesBoxWrapper{
                   
                    .imagesBoxGallery{
                       
                        .imagesBoxGalleryFrame{
                           
    
                            &:nth-of-type(1){
                                
                               
                                top: 10%;
                                left: 60%;
                                
                                // width: auto;
                                // height: auto;
                                .imagesBoxGalleryFrameFigure{

                                    width: auto;
                                    height: auto;

                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height:20vh;
                                        
                                    }
                                }
    
                            }
                            &:nth-of-type(2){
                                top: 75%;
                                left: 20%;
                                .imagesBoxGalleryFrameFigure{
                                 
                                    width: auto;
                                    height: auto;
                        
                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height: 15vh;
                                        
                                    }
                                }
    
                            }
                            &:nth-of-type(3){
                                top: 60%;
                                right: 10%;
                                .imagesBoxGalleryFrameFigure{
                                 
                                    width: auto;
                                    height: auto;
                            
                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height: 10vh;
                                        
                                    }
                                }
    
                            }
                            &:nth-of-type(4){
                                top: 5%;
                                left: 5%;
                                .imagesBoxGalleryFrameFigure{
                            
                                    width: auto;
                                    height: auto;
                    
                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height: 15vh;
                                        
                                    }
                                }
    
                            }
                            &:nth-of-type(5){
                                top: 32%;
                                right: 12%;
                                .imagesBoxGalleryFrameFigure{
                               
                                    width:  100%;
                                    height:  100%;
                     
                                    .imagesBoxGalleryFrameFigureImg{
                                        width: 100%;
                                        height: 25vh;
                                        
                                    }
                                }
    
                            }
                        }
                    }
                }
            }
            .imagesTittle{
                // width: 100%;
                bottom: 4dvh;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                
                p{
                    margin: 0;
                    padding: 0;
                    font-size: 4rem;
                    padding-left:0.5rem;
                }
            }
        }
    }
}


    ::-webkit-scrollbar {
        position: absolute;
        top: 0;
        width: 7px;
        display: none;
      }
  
      ::-webkit-scrollbar-button {
  
        // background: transparent;
        
        // border-radius: 4px;
  
      }
  
      ::-webkit-scrollbar-track{
  
        background: rgb(0, 0, 0);
  
      }
  
      ::-webkit-scrollbar-thumb {
  
        border-radius: 4px;
  
        background-color: rgba(0, 0, 0, 0.4);
  
        border: 1px solid slategrey;
  
      }
  
      ::-webkit-scrollbar-track {
  
        box-shadow: transparent;
  
      }
