@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=GFS+Didot&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.beginBox {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}
.beginBox .beginBoxWrapper {
  width: inherit;
  height: inherit;
  position: relative;
}
.beginBox .beginBoxWrapper .beginBoxMedia {
  position: absolute;
}
.beginBox .beginBoxWrapper .beginBoxMedia .beginBoxFigure {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.beginBox .beginBoxWrapper .beginBoxMedia .beginBoxFigure img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.beginBox .beginBoxWrapper .beginBoxRow {
  position: absolute;
  width: 100%;
  height: 100dvh;
  color: #ffffff;
  font-family: "Nanum Myeongjo", serif;
}
.beginBox .beginBoxWrapper .beginBoxRow .beginBoxRowText {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.beginBox .beginBoxWrapper .beginBoxRow .beginBoxRowText h1 {
  text-align: center;
  width: 500px;
  font-size: 100px;
  letter-spacing: 1.5rem;
  margin: 0;
}
.beginBox .beginBoxWrapper .beginBoxRow .beginBoxRowText .beginBoxRowLine {
  content: "";
  width: 500px;
  border-bottom: 4px solid #ffffff;
}
.beginBox .beginBoxWrapper .beginBoxRow .beginBoxRowText h4 {
  font-size: 12px;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
}
.beginBox .beginBoxWrapper .beginBoxRow2 {
  position: absolute;
  width: 100%;
  height: 100dvh;
  font-family: "Nanum Myeongjo", serif;
}
.beginBox .beginBoxWrapper .beginBoxRow2 .beginBoxRowText2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.beginBox .beginBoxWrapper .beginBoxRow2 .beginBoxRowText2 ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10dvh;
  display: flex;
  justify-content: end;
  gap: 3rem;
  padding-right: 3rem;
  align-items: center;
  list-style: none;
}
.beginBox .beginBoxWrapper .beginBoxRow2 .beginBoxRowText2 ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.2rem;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .beginBox .beginBoxWrapper .beginBoxRow .beginBoxRowText h4 {
    width: 70dvw;
    padding: 0;
    line-height: 1rem;
  }
  .beginBox .beginBoxWrapper .beginBoxRow2 .beginBoxRowText2 ul {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 575px) {
  .beginBox .beginBoxWrapper .beginBoxRow .beginBoxRowText h4 {
    width: 70dvw;
    padding: 0;
    line-height: 1rem;
  }
  .beginBox .beginBoxWrapper .beginBoxRow2 .beginBoxRowText2 ul {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=index1.css.map */