@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=GFS+Didot&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100dvh;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}
body nav {
  font-family: "Nanum Myeongjo", serif;
  width: 100vw;
  height: 10dvh;
  position: fixed;
  z-index: 10;
  mix-blend-mode: difference;
  color: #000000;
}
body nav .logo {
  position: relative;
  padding-left: 3dvw;
  top: 82dvh;
  font-size: 80px;
  letter-spacing: 1.8rem;
  mix-blend-mode: difference;
  color: #000000;
  z-index: 100;
}
body nav .logo p {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
body nav .navBox {
  position: relative;
  width: 100dvw;
  display: flex;
  top: 82dvh;
  align-items: center;
  mix-blend-mode: difference;
}
body nav .navBox ul {
  margin: 0;
  padding: 0;
  gap: 20px;
  mix-blend-mode: difference;
}
body nav .navBox ul li {
  transform: translateY(0px);
  transition: 0.5s ease-in-out;
}
body nav .navBox ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 0.2rem;
  transition: 0.5s ease-in-out;
}
body nav .navBox ul li a:hover {
  color: rgb(84, 84, 84);
  transition: 0.5s ease-in-out;
}
body nav .navBox ul li:hover {
  transform: translateY(10px);
  transition: 0.5s ease-in-out;
}
body nav .navBox .mainNav {
  width: 70dvw;
  display: flex;
  align-items: center;
  justify-content: start;
  list-style: none;
  padding-left: 3dvw;
}
body nav .navBox .socialNav {
  width: 30dvw;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  padding-right: 3dvw;
}
body nav .list {
  width: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
body nav .list p {
  padding: 0;
  margin: 0;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
body .containerWrapper {
  width: 100vw;
  height: 100dvh;
}
body .containerWrapper .container {
  width: 1000vw;
  height: 100dvh;
  display: flex;
}
body .containerWrapper .container section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}
body .containerWrapper .container section img {
  width: 80dvw;
  height: 80dvh;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
body .containerWrapper .container section video {
  width: 80dvw;
  height: 80dvh;
  -o-object-fit: contain;
     object-fit: contain;
}
body .containerWrapper .container section .imgClass {
  width: 80dvw;
  height: 80dvh;
  cursor: pointer;
  content: "";
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .containerWrapper .container section .imgClass img {
  width: 80dvw;
  height: 80dvh;
  -o-object-fit: contain;
     object-fit: contain;
}
body .containerWrapper .container section h1 {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  body nav .logo {
    font-size: 50px;
    letter-spacing: 1rem;
    top: 88dvh;
  }
  body nav .navBox {
    top: 88dvh;
  }
  body nav .navBox ul li a {
    font-size: 14px;
    letter-spacing: 0.1rem;
  }
}
@media screen and (max-width: 575px) {
  body nav .logo {
    font-size: 40px;
    letter-spacing: 1rem;
    top: 88dvh;
  }
  body nav .navBox {
    top: 88dvh;
  }
  body nav .navBox ul {
    gap: 10px;
  }
  body nav .navBox ul li a {
    font-size: 10px;
    letter-spacing: 0.1rem;
  }
}
::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=works3.css.map */